{{> userheader}}

<!-- Main Content -->
<div id="content" class="site-content">
	<!-- Slideshow -->
	<div class="section slideshow">
		<div class="tiva-slideshow-wrapper">
			<div id="tiva-slideshow" class="nivoSlider">
				<a href="#">
					<img class="img-responsive" src="img/slideshow/home1-slideshow-1.jpg" alt="Slideshow Image">
				</a>
				<a href="#">
					<img class="img-responsive" src="img/slideshow/home1-slideshow-2.jpg" alt="Slideshow Image">
				</a>
				<a href="#">
					<img class="img-responsive" src="img/slideshow/home1-slideshow-3.jpg" alt="Slideshow Image">
				</a>
			</div>
		</div>
	</div>


	<!-- Intro -->
	{{!-- <div class="section intro">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="intro-header">
						<h3>Welcome To FreshMart</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="intro-left">
						<div class="intro-item">
							<p><img src="img/intro-icon-1.png" alt="Intro Image"></p>
							<h4>Always Fresh</h4>
							<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut
								labore et dolore magna aliqua.</p>
						</div>

						<div class="intro-item">
							<p><img src="img/intro-icon-3.png" alt="Intro Image"></p>
							<h4>Super Healthy</h4>
							<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut
								labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="effect">
						<a href="#">
							<img class="img-responsive" src="img/intro-1.png" alt="Intro Image">
						</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="intro-right">
						<div class="intro-item">
							<p><img src="img/intro-icon-2.png" alt="Intro Image"></p>
							<h4>100% Natural</h4>
							<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut
								labore et dolore magna aliqua.</p>
						</div>

						<div class="intro-item">
							<p><img src="img/intro-icon-4.png" alt="Intro Image"></p>
							<h4>Premium Quality</h4>
							<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut
								labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> --}}


	<!-- Product - Deals Of The Day -->
	<div class="section products-block deals-of-day show-hover nav-color layout-2">
		<div class="block-title">
			<h2 class="title">Deals of <span>The Day</span></h2>
			<div class="sub-title">Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod tempor</div>
		</div>

		<div class="block-content">
			<div class="products owl-theme owl-carousel">
				<div class="product-item">
					<div class="row">
						<div class="col-md-6 col-xs-12 product-left">
							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">Rs 150.00</span>
									<span class="base-price">Rs180.00</span>
								</div>

								{{!-- <div class="product-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing
									elit....</div> --}}

								<div class="product-countdown" data-date="2018/10/30">
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-xs-12 product-right">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/31.jpg" alt="Product Image">
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="product-item">
					<div class="row">
						<div class="col-md-6 col-xs-12 product-left">
							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Broccoli
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star on"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">Rs 100.00</span>
									<span class="base-price">Rs120.00</span>
								</div>

								{{!-- <div class="product-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing
									elit....</div> --}}

								<div class="product-countdown" data-date="2018/11/22">
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-xs-12">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/11.jpg" alt="Product Image">
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="product-item">
					<div class="row">
						<div class="col-md-6 col-xs-12 product-left">
							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Bread
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">Rs 70.00</span>
									<span class="base-price">Rs90.00</span>
								</div>

								{{!-- <div class="product-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing
									elit....</div> --}}

								<div class="product-countdown" data-date="2018/11/04">
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-xs-12">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/5.jpg" alt="Product Image">
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="product-item">
					<div class="row">
						<div class="col-md-6 col-xs-12 product-left">
							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Apple
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">Rs 120.00</span>
									<span class="base-price">Rs150.00</span>
								</div>

								{{!-- <div class="product-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing
									elit....</div> --}}

								<div class="product-countdown" data-date="2018/12/10">
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-xs-12">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/2.jpg" alt="Product Image">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product - Best Sellers -->
	<div class="section products-block product-tab nav-color show-hover nav-round best-sellers">
		<div class="block-title">
			<h2 class="title">Best <span>Sellers</span></h2>
			<div class="sub-title">Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod tempor</div>
		</div>

		<div class="block-content">
			<!-- Tab Navigation -->


			<div class="tab-nav">
				<ul>
					<li class="active">
						<a data-toggle="tab" href="#all-products">
							<img src="img/product/product-category-0.png" alt="All Product">
							<span>All Products</span>
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#vegetables">
							<img src="img/product/product-category-1.png" alt="Vegetables">
							<span>Vegetables</span>
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#fruits">
							<img src="img/product/product-category-2.png" alt="Fruits">
							<span>Fruits</span>
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#bread">
							<img src="img/product/product-category-3.png" alt="Bread">
							<span>Bread</span>
						</a>
					</li>
					{{!-- <li>
						<a data-toggle="tab" href="#juices">
							<img src="img/product/product-category-4.png" alt="Juices">
							<span>Juices</span>
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#tea">
							<img src="img/product/product-category-5.png" alt="Tea">
							<span>Tea</span>
						</a>
					</li> --}}
				</ul>
			</div>

			<!-- Tab Content -->
			<div class="tab-content">
				<!-- All Products -->
				<div role="tabpanel" class="tab-pane fade in active" id="all-products">
					<div class="products owl-theme owl-carousel">

						{{#each productData}}
						<div class="product-item">
							<div class="product-image">
								<a href="/productDetails/{{this._id}}">{{this.name}}
									<img src="/{{this.imagePath.[0]}}" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									{{this.name}}
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">Rs. {{this.price}}</span>
								{{!-- <span class="base-price">Rs90.00</span> --}}
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" onclick="addToCart('{{this._id}}')">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="/wishlist/{{this._id}}">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						{{/each}}




					</div>
				</div>

				<!-- Vegetables -->
				{{!-- <div role="tabpanel" class="tab-pane fade" id="vegetables">
					<div class="products owl-theme owl-carousel">
						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/8.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$120.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/10.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$96.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/4.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/33.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/5.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/6.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/9.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star on"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div> --}}

				<!-- Fruits -->
				{{!-- <div role="tabpanel" class="tab-pane fade" id="fruits">
					<div class="products owl-theme owl-carousel">
						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/4.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/5.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/6.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/8.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$120.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/9.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star on"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/10.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$96.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/33.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div> --}}

				<!-- Bread -->
				{{!-- <div role="tabpanel" class="tab-pane fade" id="bread">
					<div class="products owl-theme owl-carousel">
						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/4.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/8.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$120.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/5.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/6.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/9.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star on"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/10.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$96.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/33.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div> --}}

				<!-- Juices -->
				{{!-- <div role="tabpanel" class="tab-pane fade" id="juices">
					<div class="products owl-theme owl-carousel">
						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/4.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/8.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$120.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/9.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star on"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/10.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$96.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/5.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/6.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/33.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div> --}}

				<!-- Tea -->
				{{!-- <div role="tabpanel" class="tab-pane fade" id="tea">
					<div class="products owl-theme owl-carousel">
						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/4.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/8.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$120.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/9.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star on"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/10.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$96.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/33.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/5.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/6.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									Organic Strawberry Fruits
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">$80.00</span>
								<span class="base-price">$90.00</span>
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" href="#">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="#">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="#">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>
				</div> --}}
			</div>
		</div>
	</div>


	<!-- Banners -->
	<div class="section banners-block">
		<div class="row margin-0">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
				<div class="banner-item effect">
					<a href="#">
						<img class="img-responsive" src="img/banner/home1-banner-1.png" alt="Banner 1">
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
				<div class="banner-item effect">
					<a href="#">
						<img class="img-responsive" src="img/banner/home1-banner-2.png" alt="Banner 2">
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
				<div class="banner-item effect">
					<a href="#">
						<img class="img-responsive" src="img/banner/home1-banner-3.png" alt="Banner 3">
					</a>
				</div>
			</div>
		</div>
	</div>


	<!-- Product - New Arrivals -->
	{{!-- <div class="section products-block new-arrivals layout-3">
		<div class="block-title">
			<h2 class="title">New <span>Arrivals</span></h2>
			<div class="sub-title">Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod tempor</div>
		</div>

		<div class="block-content">
			<div class="container">
				<div class="products owl-theme owl-carousel">
					<div class="item">
						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/1.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Musambi
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$35.00</span>
									<span class="base-price">$55.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/2.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$68.00</span>
									<span class="base-price">$76.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/3.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$85.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item">
						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/4.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$52.00</span>
									<span class="base-price">$58.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/5.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$45.00</span>
									<span class="base-price">$48.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/6.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$35.00</span>
									<span class="base-price">$55.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item">
						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/7.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$72.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/8.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$50.00</span>
									<span class="base-price">$60.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/9.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$80.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item">
						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/10.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$35.00</span>
									<span class="base-price">$55.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/11.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$53.00</span>
									<span class="base-price">$70.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="product-item">
							<div class="product-image">
								<a href="product-detail-left-sidebar.html">
									<img src="img/product/12.jpg" alt="Product Image">
								</a>
							</div>

							<div class="product-info">
								<div class="product-title">
									<a href="product-detail-left-sidebar.html">
										Organic Strawberry Fruits
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">$42.00</span>
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" href="#">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="#">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="#">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> --}}


	<!-- Testimonial -->
	{{!-- <div class="section testimonial">
		<div class="container">
			<div class="row">
				<div class="testimonial-wrap owl-theme owl-carousel">
					<div class="item">
						<div class="image"><img src="img/testimonial-1.png" alt=""></div>
						<div class="content"><i class="fa fa-quote-left" aria-hidden="true"></i> Proin gravida nibh
							vel velit auctor aliquet. Aenean sollicudin, lorem quis bibendum auctor, nisi elit
							consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vultate
							cursus a sit amet mauris. Proin gravida nibh vel velit .</div>
						<div class="name">WILLIAM JAMES</div>
						<div class="job">Hairstyle</div>
					</div>

					<div class="item">
						<div class="image"><img src="img/testimonial-2.png" alt=""></div>
						<div class="content"><i class="fa fa-quote-left" aria-hidden="true"></i> Proin gravida nibh
							vel velit auctor aliquet. Aenean sollicudin, lorem quis bibendum auctor, nisi elit
							consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vultate
							cursus a sit amet mauris. Proin gravida nibh vel velit .</div>
						<div class="name">WILLIAM JAMES</div>
						<div class="job">Hairstyle</div>
					</div>

					<div class="item">
						<div class="image"><img src="img/testimonial-3.png" alt=""></div>
						<div class="content"><i class="fa fa-quote-left" aria-hidden="true"></i> Proin gravida nibh
							vel velit auctor aliquet. Aenean sollicudin, lorem quis bibendum auctor, nisi elit
							consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vultate
							cursus a sit amet mauris. Proin gravida nibh vel velit .</div>
						<div class="name">WILLIAM JAMES</div>
						<div class="job">Hairstyle</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	--}}

	<!-- Product - Category -->
	<div class="section product-category">
		<div class="block-title">
			<div class="sub-title">Discover Our Products</div>
			<h2 class="title">Shop By <span>Cagegories</span></h2>
		</div>

		<div class="block-content">
			<div class="container">
				<div class="categories owl-theme owl-carousel" style="margin-left: 250px;">
					<div class="item">
						<img src="img/product/category-1.jpg" alt="Category 1">
						<div class="title">Fruits</div>
						<div class="category-products">
							<ul>
								{{!-- <li><a href="#">Orange</a></li>
								<li><a href="#">Apples</a></li>
								<li><a href="#">Strawberry</a></li>
								<li><a href="#">Banana</a></li> --}}
								<li><a href="#" class="color">View All</a></li>
							</ul>
						</div>
					</div>

					<div class="item">
						<img src="img/product/category-2.jpg" alt="Category 2">
						<div class="title">Vegetable</div>
						<div class="category-products">
							<ul>
								{{!-- <li><a href="#">lemon</a></li>
								<li><a href="#">Broccoli</a></li>
								<li><a href="#">Cucumber</a></li> --}}
								{{!-- <li><a href="#">Root Vegetables</a></li> --}}
								<li><a href="#" class="color">View All</a></li>
							</ul>
						</div>
					</div>

					{{!-- <div class="item">
						<img src="img/product/category-3.jpg" alt="Category 3">
						<div class="title">Juices</div>
						<div class="category-products">
							<ul>
								<li><a href="#">Orange Juices</a></li>
								<li><a href="#">Apple Juices</a></li>
								<li><a href="#">Strawberry Juices</a></li>
								<li><a href="#">Pomegranate Juices</a></li>
								<li><a href="#" class="color">View All</a></li>
							</ul>
						</div>
					</div>

					<div class="item">
						<img src="img/product/category-4.jpg" alt="Category 4">
						<div class="title">Tea And Coffee</div>
						<div class="category-products">
							<ul>
								<li><a href="#">Organic Tea</a></li>
								<li><a href="#">Masala Teas</a></li>
								<li><a href="#">Flavored Tea</a></li>
								<li><a href="#">Coffee</a></li>
								<li><a href="#" class="color">View All</a></li>
							</ul>
						</div>
					</div> --}}

					<div class="item">
						<img src="img/product/category-5.jpg" alt="Category 5">
						<div class="title">Bread</div>
						<div class="category-products">
							<ul>
								{{!-- <li><a href="#">LoafBread</a></li> --}}
								{{!-- <li><a href="#">Wholemeal & brown</a></li> --}}
								{{!-- <li><a href="#">Small loaves</a></li> --}}
								{{!-- <li><a href="#"></a>Bread</li> --}}
								<li><a href="#" class="color">View All</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Partners -->
	{{!-- <div class="section partners">
		<div class="block-content">
			<div class="container">
				<div class="partners-wrap owl-theme owl-carousel">
					<a href="#"><img src="img/partner-1.jpg" alt="Partner 1"></a>
					<a href="#"><img src="img/partner-2.jpg" alt="Partner 2"></a>
					<a href="#"><img src="img/partner-3.jpg" alt="Partner 3"></a>
					<a href="#"><img src="img/partner-4.jpg" alt="Partner 4"></a>
					<a href="#"><img src="img/partner-5.jpg" alt="Partner 5"></a>
					<a href="#"><img src="img/partner-6.jpg" alt="Partner 6"></a>
				</div>
			</div>
		</div>
	</div> --}}


	<!-- Latest News -->
	<div class="section latest-news">
		<div class="block-title">
			<div class="sub-title">From Our Blog</div>
			<h2 class="title">Latest <span>News</span></h2>
		</div>

		<div class="block-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="blog-item">
							<div class="blog-image">
								<a href="blog-detail.html" class="zoom-effect">
									<img src="img/blog/blog-1.jpg" alt="Blog Image">
								</a>
							</div>
							<div class="blog-info">
								<div class="blog-time">
									<span><i class="zmdi zmdi-comments"></i>13 comment</span>
									<span><i class="zmdi zmdi-calendar-note"></i>20 APRIl 2017</span>
								</div>
								<div class="blog-title"><a href="blog-detail.html">5 Best fruits to make you fresh
										and healthy</a></div>
								<div class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
									diam nonummy...</div>
								<div class="readmore"><a href="blog-detail.html">Read more</a></div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="blog-item">
							<div class="blog-image">
								<a href="blog-detail.html" class="zoom-effect">
									<img src="img/blog/blog-2.jpg" alt="Blog Image">
								</a>
							</div>
							<div class="blog-info">
								<div class="blog-time">
									<span><i class="zmdi zmdi-comments"></i>13 comment</span>
									<span><i class="zmdi zmdi-calendar-note"></i>20 APRIl 2017</span>
								</div>
								<div class="blog-title"><a href="blog-detail.html">5 Best fruits to make you fresh
										and healthy</a></div>
								<div class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
									diam nonummy...</div>
								<div class="readmore"><a href="blog-detail.html">Read more</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
	function addToCart(id) {
		console.log('addToCart clicked');
		console.log(id);

		// Stringify the id once
		const data = JSON.stringify({ id: id });
		console.log(data);

		fetch('/addtoCart', {
			body: data,
			method: 'post',
			headers: {
				'Content-Type': 'application/json' // Specify the content type
			}
		})
			.then(response => {

				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();


			}).then(data => {
				// Handle the response as needed
				console.log('Response received:', data);
				console.log(data.success)
				if (data.success && data.message) {
					Swal.fire({
						// position: "top-end",
						icon: "warning",
						title: data.message,
						showConfirmButton: false,
						timer: 2000
					});
				}
				else if (data.success) {
					Swal.fire({
						// position: "top-end",
						icon: "success",
						title: "Product add to Cart",
						showConfirmButton: false,
						timer: 1500
					});

				} else {
					Swal.fire({
						title: "You are Not Loged in",
						text: "Do you want go Login. Press Login!",
						icon: "warning",
						showCancelButton: true,
						confirmButtonColor: "#3085d6",
						cancelButtonColor: "#d33",
						confirmButtonText: "Login!"
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.href = '/login';
						}
					});


				}
			})
			.catch(error => {
				// Handle any errors
				console.error('Error occurred:', error);
			});
	}

</script>

{{> userfooter}}