{{> userheader}}

<!-- Main Content -->
<div id="content" class="site-content">
	<!-- Slideshow -->
	<div class="section slideshow">
		<div class="tiva-slideshow-wrapper">
			<div id="tiva-slideshow" class="nivoSlider">
				<a href="#">
					<img class="img-responsive" src="img/slideshow/home1-slideshow-1.jpg" alt="Slideshow Image">
				</a>
				<a href="#">
					<img class="img-responsive" src="img/slideshow/home1-slideshow-2.jpg" alt="Slideshow Image">
				</a>
				<a href="#">
					<img class="img-responsive" src="img/slideshow/home1-slideshow-3.jpg" alt="Slideshow Image">
				</a>
			</div>
		</div>
	</div>





	<!-- Product - Deals Of The Day -->

	<div class="section products-block deals-of-day show-hover nav-color layout-2">
		<div class="block-title">
			<h2 class="title">Deals of <span>The Day</span></h2>
			<div class="sub-title">Lorem ipsum dolor sit amet consectetur adipiscing elit eiusmod tempor</div>
		</div>

		<div class="block-content">
			<div class="products owl-theme owl-carousel">
				{{#each productData}}
				<div class="product-item">
					<div class="row">
						<div class="col-md-6 col-xs-12 product-left">
							<div class="product-info">
								<div class="product-title">
									<a href="/productDetails/{{this._id}}">
										{{this.name}}
									</a>
								</div>

								<div class="product-rating">
									<div class="star on"></div>
									<div class="star on"></div>
									<div class="star on "></div>
									<div class="star on"></div>
									<div class="star"></div>
								</div>

								<div class="product-price">
									<span class="sale-price">Rs. {{this.discountAmount}}</span>
									<span class="base-price">Rs. {{this.price}}</span><br>

									{{#ifEquals stock 0}}
									<span class="out-of-stock" style="color: red; font-size:small">Out Of Stock</span>


									{{/ifEquals}}
								</div>



								<div class="product-countdown" data-date="2018/10/30">
								</div>

								<div class="product-buttons">
									<a class="add-to-cart" onclick="addToCart('{{this._id}}')">
										<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									</a>

									<a class="add-wishlist" href="/wishlist/{{this._id}}">
										<i class="fa fa-heart" aria-hidden="true"></i>
									</a>

									<a class="quickview" href="/productDetails/{{this._id}}">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-xs-12 product-right">
							<div class="product-image">
								<a href="/productDetails/{{this._id}}">
									<img src="/{{this.imagePath.[0]}}" alt="Product Image">
								</a>
							</div>
						</div>
					</div>
				</div>
				{{/each}}


			</div>
		</div>
	</div>



	<!-- Product - Best Sellers -->
	<div class="section products-block product-tab nav-color show-hover nav-round best-sellers">
		<div class="block-title">
			<h2 class="title">Best <span>Sellers</span></h2>
			<div class="sub-title">Fill your cart, fill your heart , Keep calm and shop for groceries</div>
		</div>

		<div class="block-content">
			<!-- Tab Navigation -->


			<div class="tab-nav">
				<ul>
					<li class="active">
						<a data-toggle="tab" href="#all-products">
							<img src="img/product/product-category-0.png" alt="All Product">
							<span>All Products</span>
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#vegetables">
							<img src="img/product/product-category-1.png" alt="Vegetables">
							<span>Vegetables</span>
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#fruits">
							<img src="img/product/product-category-2.png" alt="Fruits">
							<span>Fruits</span>
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#bread">
							<img src="img/product/product-category-3.png" alt="Bread">
							<span>Bread</span>
						</a>
					</li>

				</ul>
			</div>

			<!-- Tab Content -->
			<div class="tab-content">
				<!-- All Products -->
				<div role="tabpanel" class="tab-pane fade in active" id="all-products">
					<div class="products owl-theme owl-carousel">

						{{#each productData}}
						<div class="product-item">
							<div class="product-image">
								<a href="/productDetails/{{this._id}}">
									<img src="/{{this.imagePath.[0]}}" alt="Product Image">
								</a>
							</div>

							<div class="product-title">
								<a href="product-detail-left-sidebar.html">
									{{this.name}}
								</a>
							</div>

							<div class="product-rating">
								<div class="star on"></div>
								<div class="star on"></div>
								<div class="star on "></div>
								<div class="star on"></div>
								<div class="star"></div>
							</div>

							<div class="product-price">
								<span class="sale-price">Rs. {{this.discountAmount}}</span>
								{{!-- <span class="base-price">Rs90.00</span> --}}
							</div>

							<div class="product-buttons">
								<a class="add-to-cart" onclick="addToCart('{{this._id}}')">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
								</a>

								<a class="add-wishlist" href="/wishlist/{{this._id}}">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</a>

								<a class="quickview" href="/productDetails/{{this._id}}">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						{{/each}}




					</div>
				</div>


			</div>
		</div>
	</div>


	<!-- Banners -->
	<div class="section banners-block">
		<div class="row margin-0">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
				<div class="banner-item effect">
					<a href="#">
						<img class="img-responsive" src="img/banner/home1-banner-1.png" alt="Banner 1">
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
				<div class="banner-item effect">
					<a href="#">
						<img class="img-responsive" src="img/banner/home1-banner-2.png" alt="Banner 2">
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-0">
				<div class="banner-item effect">
					<a href="#">
						<img class="img-responsive" src="img/banner/home1-banner-3.png" alt="Banner 3">
					</a>
				</div>
			</div>
		</div>
	</div>




	<!-- Product - Category -->
	<div class="section product-category">
		<div class="block-title">
			<div class="sub-title">Discover Our Products</div>
			<h2 class="title">Shop By <span>Categories</span></h2>
		</div>
		<div class="block-content">
        <div class="container">
            <div class="row flex-nowrap overflow-auto">
                {{#each Category}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="img/product/category-1.jpg" class="card-img-top" alt="{{this.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <div class="category-products">
                                <ul class="list-unstyled">
                                    <li><a href="/productCategory/{{this._id}}" class="">View All</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
	</div>





	<!-- Latest News -->
	<div class="section latest-news">
		<div class="block-title">
			<div class="sub-title">From Our Blog</div>
			<h2 class="title">Latest <span>News</span></h2>
		</div>

		<div class="block-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="blog-item">
							<div class="blog-image">
								<a href="/" class="zoom-effect">
									<img src="img/blog/blog-1.jpg" alt="Blog Image">
								</a>
							</div>
							<div class="blog-info">
								<div class="blog-time">
									<span><i class="zmdi zmdi-comments"></i>13 comment</span>
									<span><i class="zmdi zmdi-calendar-note"></i>20 June 2024</span>
								</div>
								<div class="blog-title">5 Best vegitables to make you fresh
									and healthy</div>
								<div class="blog-desc">There is no single most healthy vegetable, but eating a variety
									of vegetables can improve health and well-being. Nutritious options to add to the
									diet include spinach...</div>

							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="blog-item">
							<div class="blog-image">
								<a href="/" class="zoom-effect">
									<img src="img/blog/blog-2.jpg" alt="Blog Image">
								</a>
							</div>
							<div class="blog-info">
								<div class="blog-time">
									<span><i class="zmdi zmdi-comments"></i>13 comment</span>
									<span><i class="zmdi zmdi-calendar-note"></i>25 July 2024</span>
								</div>
								<div class="blog-title">5 Best fruits to make you fresh
									and healthy</div>
								<div class="blog-desc">Good choices include oranges, blueberries, apples, avocados, and
									bananas, but there are many more to choose from. Fruits are an excellent source of
									essential vitamins ...</div>
								{{!-- <div class="readmore"><a href="blog-detail.html">Read more</a></div> --}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
	function addToCart(id) {
		console.log('addToCart clicked');
		console.log(id);

		// Stringify the id once
		const data = JSON.stringify({ id: id });
		console.log(data);

		fetch('/addtoCart', {
			body: data,
			method: 'post',
			headers: {
				'Content-Type': 'application/json' // Specify the content type
			}
		})
			.then(response => {

				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();


			}).then(data => {
				// Handle the response as needed
				console.log('Response received:', data);
				console.log(data.success)
				if (data.success && data.message) {
					Swal.fire({
						// position: "top-end",
						icon: "warning",
						title: data.message,
						showConfirmButton: false,
						timer: 2000
					});
				}
				else if (data.success) {
					Swal.fire({
						// position: "top-end",
						icon: "success",
						title: "Product add to Cart",
						showConfirmButton: false,
						timer: 1500
					});

				} else {
					Swal.fire({
						title: "You are Not Loged in",
						text: "Do you want go Login. Press Login!",
						icon: "warning",
						showCancelButton: true,
						confirmButtonColor: "#3085d6",
						cancelButtonColor: "#d33",
						confirmButtonText: "Login!"
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.href = '/login';
						}
					});


				}
			})
			.catch(error => {
				// Handle any errors
				console.error('Error occurred:', error);
			});
	}

</script>

{{> userfooter}}