{{> userheader}}


<!-- Main Content -->
<div id="content" class="site-content">
    <!-- Breadcrumb -->
    <div id="breadcrumb">
        <div class="container">
            <h2 class="title">Order History</h2>

            <ul class="breadcrumb">
                <li><a href="#" title="Home">Home</a></li>
                <li><span>Order History</span></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">orderID</th>
                    <th scope="col">Date</th>
                    <th scope="col">TotalPrice</th>
                    <th scope="col">Paymet</th>
                    {{!-- <th scope="col">Status</th> --}}
                    <th scope="col">More Details</th>
                    

                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <th scope="row">{{this.orderID}}</th>
                    <td>{{formatDate this.date}}</td>
                    <td>{{this.amountPaid}}</td>
                    <td>{{this.paymentMethod}}</td>
                    {{!-- <td>{{this.status}}</td> --}}
                    <td><a href="/orderDetail?id={{this.orderID}}" class="btn btn-success" >View Details</a></td>
                    {{#ifEquals this.status "Delivered Successfully"}}
                    <td><a href="/invoice?id={{this.orderID}}" class="btn btn-success" >Invoice</a></td>
                    {{/ifEquals}}
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>
</div>


{{> userfooter}}