{{> userheader}}


<!-- Main Content -->
<div id="content" class="site-content">
	<!-- Breadcrumb -->
	<div id="breadcrumb">
		<div class="container">
			<h2 class="title">{{name}}</h2>

			<ul class="breadcrumb">
				<li><a href="#" title="Home">Home</a></li>
				{{!-- <li><a href="#" title="Fruit"></a></li> --}}
				<li><span>{{name}}</span></li>
			</ul>
		</div>
	</div>


	<div class="container">
		<div class="product-detail">
			<div class="products-block layout-5">
				<div class="product-item">
					<div class="product-title">
						{{name}}
					</div>

					<div class="row">
						<div class="product-left col-md-4 col-sm-4 col-xs-12">
							<div class="product-image horizontal">
								<div class="main-image">
									<img class="img-responsive" src="/{{imagePath.[0]}}" alt="">

								</div>
								<div class="thumb-images owl-theme owl-carousel">
									<img class="img-responsive" src="/{{imagePath.[0]}}" alt="">
									<img class="img-responsive" src="/{{imagePath.[1]}}" alt="">
									<img class="img-responsive" src="/{{imagePath.[2]}}" alt="">
									<img class="img-responsive" src="/{{imagePath.[3]}}" alt="">
								</div>
							</div>
						</div>

						<div class="product-right col-md-5 col-sm-4 col-xs-12">
							<div class="product-info">
								<div class="product-price">
									<span class="sale-price">Rs.{{discountAmount}}</span>
									<span class="base-price">Rs.{{price}}</span>
								</div>

								<div class="product-stock">
									<span class="availability">Availability :</span><i class="fa fa-check-square-o"
										aria-hidden="true"></i>In stock {{stock}}
								</div>

								<div class="product-short-description">
									{{about}}
								</div>

								{{!-- <div class="product-variants border-bottom">
									<div class="product-variants-item">
										<span class="control-label">Size :</span>
										<select>
											<option value="1" title="S">S</option>
											<option value="2" title="M">M</option>
											<option value="3" title="L">L</option>
											<option value="4" title="One size">One size</option>
										</select>
									</div>

									<div class="product-variants-item">
										<span class="control-label">Color :</span>

										<ul>
											<li>
												<input class="input-color" type="radio" value="1">
												<span class="color" style="background-color: #E84C3D"></span>
											</li>
											<li>
												<input class="input-color" type="radio" value="2">
												<span class="color" style="background-color: #5D9CEC"></span>
											</li>
											<li>
												<input class="input-color" type="radio" value="3">
												<span class="color" style="background-color: #A0D468"></span>
											</li>
											<li>
												<input class="input-color" type="radio" value="4">
												<span class="color" style="background-color: #F1C40F"></span>
											</li>
											<li>
												<input class="input-color" type="radio" value="5">
												<span class="color" style="background-color: #964B00"></span>
											</li>
											<li>
												<input class="input-color" type="radio" value="6">
												<span class="color" style="background-color: #FCCACD"></span>
											</li>
										</ul>
									</div>
								</div> --}}

								<div class="product-add-to-cart border-bottom">
									{{!-- <div class="product-quantity">
										<span class="control-label">QTY :</span>
										<div class="qty">
											<div class="input-group">
												<input type="text" name="qty" value="1" data-min="1" disabled>
												<span class="adjust-qty">
													<span class="adjust-btn plus">+</span>
													<span class="adjust-btn minus">-</span>
												</span>
											</div>
										</div>
									</div> --}}

									<div class="product-buttons">
										<a class="add-to-cart" style="cursor: pointer;" onclick="addToCart('{{_id}}')">
											<i class="fa fa-shopping-basket" aria-hidden="true"></i>
											<span>Add To Cart</span>
										</a>
										

										<a class="add-wishlist" href="/wishlist/{{_id}}">
											<i class="fa fa-heart" aria-hidden="true"></i>
										</a>
									</div>
								</div>

								<div class="product-share border-bottom">
									<div class="item">
										<a href="#"><i class="zmdi zmdi-share" aria-hidden="true"></i><span
												class="text">Share</span></a>
									</div>
									<div class="item">
										<a href="#"><i class="zmdi zmdi-email" aria-hidden="true"></i><span
												class="text">Send to a friend</span></a>
									</div>
									<div class="item">
										<a href="#"><i class="zmdi zmdi-print" aria-hidden="true"></i><span
												class="text">Print</span></a>
									</div>
								</div>

								<div class="product-review border-bottom">
									<div class="item">
										<div class="product-quantity">
											<span class="control-label">Review :</span>
											<div class="product-rating">
												<div class="star on"></div>
												<div class="star on"></div>
												<div class="star on"></div>
												<div class="star on"></div>
												<div class="star"></div>
											</div>
										</div>
									</div>

									<div class="item">
										<a href="#"><i class="zmdi zmdi-comments" aria-hidden="true"></i><span
												class="text">Read Reviews (3)</span></a>
									</div>

									<div class="item">
										<a href="#"><i class="zmdi zmdi-edit" aria-hidden="true"></i><span
												class="text">Write a review</span></a>
									</div>
								</div>

								<div class="product-extra">
									<div class="item">
										<span class="control-label">Review :</span><span
											class="control-label">E-02154</span>
									</div>
									<div class="item">
										<span class="control-label">Categories </span>
										<a href="#" title="Vegetables">Vegetables,</a>
										<a href="#" title="Fruits">Fruits,</a>
										<a href="#" title="Apple">Apple</a>
									</div>
									<div class="item">
										<span class="control-label">Tags :</span>
										<a href="#" title="Vegetables">Hot Trend,</a>
										<a href="#" title="Fruits">Summer</a>
									</div>
								</div>
							</div>
						</div>

						<div class="payment-intro col-md-3 col-sm-4 col-xs-12">
							<div class="block-content">
								<div class="item">
									<img class="img-responsive" src="/img/home2-payment-1.png" alt="Payment Intro">
									<h3 class="title">Free Shipping item</h3>
									<div class="content">Proin gravida nibh vel velit auctor aliquet aenean</div>
								</div>
								<div class="item">
									<img class="img-responsive" src="/img/home2-payment-2.png" alt="Payment Intro">
									<h3 class="title">Secured Payment</h3>
									<div class="content">Proin gravida nibh vel velit auctor aliquet aenean</div>
								</div>
								<div class="item">
									<img class="img-responsive" src="/img/home2-payment-3.png" alt="Payment Intro">
									<h3 class="title">money back guarantee</h3>
									<div class="content">Proin gravida nibh vel velit auctor aliquet aenean</div>
								</div>
							</div>
						</div>
					</div>

					<div class="product-tab">
						<!-- Tab Navigation -->
						<div class="tab-nav">
							<ul>
								<li class="active">
									<a data-toggle="tab" href="#description">
										<span>Description</span>
									</a>
								</li>
								<li>
									<a data-toggle="tab" href="#additional-information">
										<span>Additional Information</span>
									</a>
								</li>
								<li>
									<a data-toggle="tab" href="#review">
										<span>Review</span>
									</a>
								</li>
							</ul>
						</div>

						<!-- Tab Content -->
						<div class="tab-content">
							<!-- Description -->
							<div role="tabpanel" class="tab-pane fade in active" id="description">
								{{description}}
							</div>

							<!-- Product Tag -->
							<div role="tabpanel" class="tab-pane fade" id="additional-information">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
									dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
									nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
									quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
									nec, vulputate eget, arcu.</p>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
									dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
									nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
									quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
									nec, vulputate eget, arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
									magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
									nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
									justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
							</div>

							<!-- Review -->
							<div role="tabpanel" class="tab-pane fade" id="review">
								<div class="reviews">
									<div class="comments-list">
										<div class="item">
											<div class="comment-left pull-left">
												<div class="avatar">
													<img src="img/avatar.jpg" alt="" width="70" height="70">
												</div>
												<div class="product-rating">
													<div class="star on"></div>
													<div class="star on"></div>
													<div class="star on"></div>
													<div class="star on"></div>
													<div class="star on"></div>
												</div>
											</div>
											<div class="comment-body">
												<div class="comment-meta">
													<span class="author">Peter</span> - <span class="time">June 02,
														2018</span>
												</div>
												<div class="comment-content">Look at the sunset, life is amazing, life
													is beautiful, life is what you make it. To succeed you must believe.
													When you believe, you will succeed. In life there will be road
													blocks but we will over come it. Celebrate success right, the only
													way, apple. The ladies always say Khaled you smell good, I use no
													cologne. Cocoa butter is the key. </div>
											</div>
										</div>

										<div class="item">
											<div class="comment-left pull-left">
												<div class="avatar">
													<img src="img/avatar.jpg" alt="" width="70" height="70">
												</div>
												<div class="product-rating">
													<div class="star on"></div>
													<div class="star on"></div>
													<div class="star on"></div>
													<div class="star on"></div>
													<div class="star"></div>
												</div>
											</div>
											<div class="comment-body">
												<div class="comment-meta">
													<span class="author">Merry</span> - <span class="time">June 17,
														2018</span>
												</div>
												<div class="comment-content">Look at the sunset, life is amazing, life
													is beautiful, life is what you make it. To succeed you must believe.
													When you believe, you will succeed. In life there will be road
													blocks but we will over come it. Celebrate success right, the only
													way, apple. The ladies always say Khaled you smell good, I use no
													cologne. Cocoa butter is the key. </div>
											</div>
										</div>
									</div>

									<div class="review-form">
										<h4 class="title">Write a review</h4>

										<form action="#" method="post" class="form-validate">
											<div class="form-group">
												<div class="text">Your Rating</div>
												<div class="product-rating">
													<div class="star"></div>
													<div class="star"></div>
													<div class="star"></div>
													<div class="star"></div>
													<div class="star"></div>
												</div>
											</div>

											<div class="form-group">
												<div class="text">You review<sup class="required">*</sup></div>
												<textarea id="comment" name="comment" cols="45" rows="6"
													aria-required="true"></textarea>
											</div>

											<div class="form-group">
												<button class="btn btn-primary">Send your review</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Related Products -->
		<div class="products-block related-products item-4">
			<div class="block-title">
				<h2 class="title">Related <span>Products</span></h2>
			</div>

			<div class="block-content">
				<div class="products owl-theme owl-carousel">
					{{!-- <p>{{relatedProduct}}</p> --}}

					{{#each relatedProduct}}
					<div class="product-item">
						<div class="product-image">
							<a href="/productDetails/{{this._id}}">{{this.name}}
								<img src="/{{this.imagePath.[0]}}" alt="">
							</a>
						</div>

						<div class="product-title">
							<a href="product-detail-left-sidebar.html">
								{{this.name}}
							</a>
						</div>

						<div class="product-rating">
							<div class="star on"></div>
							<div class="star on"></div>
							<div class="star on "></div>
							<div class="star on"></div>
							<div class="star"></div>
						</div>

						<div class="product-price">
							<span class="sale-price">Rs.{{this.discountAmount}}</span>
							{{!-- <span class="base-price">$90.00</span> --}}
						</div>

						<div class="product-buttons">
							<a class="add-to-cart" href="#">
								<i class="fa fa-shopping-basket" aria-hidden="true"></i>
							</a>

							<a class="add-wishlist" href="#">
								<i class="fa fa-heart" aria-hidden="true"></i>
							</a>

							<a class="quickview" href="#">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					{{/each}}

				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	function addToCart(id) {
		console.log('addToCart clicked');
		console.log(id);

		// Stringify the id once
		const data = JSON.stringify({ id: id });
		console.log(data);

		fetch('/addtoCart', {
			body: data,
			method: 'post',
			headers: {
				'Content-Type': 'application/json' // Specify the content type
			}
		})
			.then(response => {

				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();


			}).then(data => {
				// Handle the response as needed
				console.log('Response received:', data);
				console.log(data.success)
				if (data.success) {
					Swal.fire({
						// position: "top-end",
						icon: "success",
						title: "Product add to Cart",
						showConfirmButton: false,
						timer: 1500
					});

				} else {
					Swal.fire({
						title: "You are Not Loged in",
						text: "Do you want go Login. Press Login!",
						icon: "warning",
						showCancelButton: true,
						confirmButtonColor: "#3085d6",
						cancelButtonColor: "#d33",
						confirmButtonText: "Login!"
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.href = '/login';
						}
					});


				}
			})
			.catch(error => {
				// Handle any errors
				console.error('Error occurred:', error);
			});
	}

</script>

{{> userfooter}}